
<div class="container">
    <img ng-src="../bilder/impressum.png" class="img-responsive" style="height: auto; width: 100%">

    <h4>

        Secure Messenger GmbH<br>
        Musterstraße 1<br>
        D-12345 Musterstadt<br>
        <br>
        Vertretungsberechtiger Geschäftsführer: Dennis Szczerbinski<br>
        <br>
        Telefon: 123/123456(2)<br>
        Fax: 123/123457<br>
        <br>
        E-Mail: 1520192@stud.hs-mannheim.de<br>
        <br>
        Registergericht: Amtsgericht Musterstadt<br>
        Registernummer: HRB 12345<br>
        <br>
        Umsatzsteuer-Identifikationsnummer gem. § 27a UStG: DE 123456789<br>
        Inhaltlich Verantwortlicher: Maximilian Mustermann (Anschrift s.o.)(4)<br>
        <br>
    </h4>

</div>


