<div class="container" ng-controller="LoginController">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form>
            <div class="form-group">
                <label>Email:</label>
                <input type="email" class="form-control" ng-model="store.user" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label>Pseudonym</label>
                <input type="text" class="form-control" ng-model="store.pseudonym" placeholder="Enter password">
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" class="form-control" ng-model="store.password" placeholder="Enter password">
            </div>
            <button type="submit" ng-click="login(store)" class="btn btn-default">Einloggen</button>
            <button type="button" ng-click="goTo()" class="btn btn-default">Registrieren</button>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>