<div class="container">
    <header>
        <h1 id="registrieren">Newsletter</h1>
    </header>

    <h4>Registrien Sie sich jetzt für unsere Newsletter um keinen Spass mehr zu Verpassen !</h4>
    <br>
    <form method="POST" action= "registrierung.php">
        <label type="text">Vorname</label><br>
        <input type="text" name="Vorname"><br>
        
        <label type="text">Nachname</label><br>
        <input type="text" name="Nachname"><br>
		
        <label for="eMail">Email-Adresse</label><br>
        <input type="email" name="Email"><br>
		
       <p>Ich akzeptiere die AGBs<input type="checkbox" name="check" /></p>
      <p>Wenn Sie auf "Senden" klicken, stimmen Sie zu das diese Daten<br>
         auf irgend einem fremdem Rechner gespeichert werden.</p>
		<p><button type="submit" name="Submit" >Senden</button></p>
      
    </form>
</div>

